<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flask Web App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
    <style>
        body {
            padding-top: 50px;
        }

        .container {
            text-align: center;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">Chào Nguyễn Thanh Ngân</a>
    </nav>

    <div class="container">
        <h1>Crawl comment on Facebook</h1>
        <p>by list cookies</p>

        <form id="uploadForm" enctype="multipart/form-data">
            <div class="m-5">
                <h2>Upload file cookies.xlsx</h2>
                <input type="file" name="file" id="fileInput" />
            </div>
            <div>
                <button type="button" class="btn btn-success" onclick="startCrawl()">Start Crawl</button>
            </div>
        </form>

        <div id="downloadSection" style="display: none;">
            <h2>Download comments.xlsx</h2>
            <a id="downloadLink" href="#" class="btn btn-primary" download="comments">Download</a>
        </div>
    </div>

    <script>
        function startCrawl() {
            var formData = new FormData();
            var fileInput = document.getElementById('fileInput');
            formData.append('file', fileInput.files[0]);

            fetch('/', {
                method: 'POST',
                body: formData
            })
                .then(response => response.blob())
                .then(blob => {
                    var downloadLink = document.getElementById('downloadLink');
                    var downloadSection = document.getElementById('downloadSection');

                    downloadLink.href = URL.createObjectURL(blob);
                    downloadSection.style.display = 'block';
                })
                .catch(error => console.error('Error:', error));
        }
    </script>
</body>

</html>